<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kshost.fastview.backend.mapper.VideoMapper">

    <select id="selectVideo" resultType="cn.kshost.fastview.backend.pojo.po.Video">
        select v.id id,
        `title`,
        descr,
        cover_url,
        video_url,
        stars,
        v.create_by create_by,
        v.create_time create_time,
        v.update_time update_time,
        v.status status,
        v.is_delete is_delete,
        v.category_id category_id,
        category_name
        from video v left join video_category vk on v.category_id = vk.id
        <where>
            <if test="videoQueryDto.title != null and videoQueryDto.title != ''">
                and v.title like CONCAT('%',#{videoQueryDto.title},'%')
            </if>
            <if test="videoQueryDto.stars != null and videoQueryDto.stars != ''">
                and v.stars &gt;= #{videoQueryDto.stars}
            </if>
            <if test="videoQueryDto.status != null and videoQueryDto.status != ''">
                and v.status = #{videoQueryDto.status}
            </if>
            <if test="videoQueryDto.categoryId != null and videoQueryDto.categoryId != ''">
                and v.category_id = #{videoQueryDto.categoryId}
            </if>
            and v.is_delete = 0
        </where>
    </select>
</mapper>
